.top_header {
  background-color: #0282f9;
}

.top_header ul {
  display: flex;
  justify-content: flex-end;
}

.top_header ul a {
  margin: 5px 20px;
  color: white;
}

nav {
  height: 100px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.navbar img {
  width: 80px;
}

.navbar .menu {
  display: flex;
}

.navbar .menu a {
  margin: 0 20px;
  color: #1c1c1c;
}

.jumbotron {
  height: 400px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
}

.comics_container {
  height: 900px;
  background-color: #1c1c1c;
}

.comics_container h3 {
  text-transform: uppercase;
  width: 86%;
  margin-top: 5px;
  font-size: 15px;
  color: white;
}

.comics_container .container_70 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
}

.comics_container .container_70 .comic {
  width: calc(100% / 6);
  margin-bottom: 20px;
}

.comics_container button {
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px 50px;
  background-color: #0282f9;
  color: white;
}

.banner_shop {
  height: 150px;
  display: flex;
  align-items: center;
  background-color: #0282f9;
}

.banner_shop .container_70 {
  display: flex;
  justify-content: space-evenly;
}

.banner_shop div {
  display: flex;
  align-items: center;
}

.banner_shop img {
  height: 60px;
}

.banner_shop h4 {
  margin: 10px;
  text-transform: uppercase;
  color: white;
}

.banner_shop #svg {
  width: 65px;
}

.top_footer {
  position: relative;
}

.top_footer li {
  font-size: 13px;
  color: #797979;
}

.top_footer h3 {
  text-transform: uppercase;
  margin: 10px 0 10px 0;
}

.top_footer .big_logo {
  height: 500px;
  position: absolute;
  right: 0px;
  top: -80px;
  z-index: 0;
}

.top_footer {
  display: flex;
  justify-content: space-between;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  height: 370px;
}

.footer_left {
  display: flex;
}

.footer_left div {
  margin: 25px;
}

footer {
  height: 400px;
}

.footer_banner {
  display: flex;
  align-items: center;
  height: 150px;
  width: 100%;
  z-index: 2;
  position: relative;
  background-color: #1c1c1c;
}

.footer_banner .container_70 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.footer_banner .container_70 div {
  display: flex;
  align-items: center;
}

.footer_banner .container_70 div h3 {
  margin-right: 15px;
}

.footer_banner a {
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #0282f9;
  color: white;
}

.footer_banner h3 {
  color: #0282f9;
}

.footer_banner img {
  margin: 10px;
  height: 40px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container_70 {
  width: 70%;
  margin: auto;
}

.list_inline > a {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
}

